@{
    ViewData["Title"] = "Principal";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<link rel="stylesheet" href="~/css/MasterRecords.css" />
<link rel="stylesheet" href="~/css/TablesStyle.css" />

<script>var exports = {"__esModule": false};</script>

<div id="PanelPrincipal" class="divPrincipal">

    <!--Seleción de los clientes (Inicio)-->

    <!-- Modal para busqueda general (inicio) -->
    @*<div class="modal fade" id="ModalSearch" tabindex="-1" aria-labelledby="ModalSearch" aria-hidden="true">*@
    <div class="modal fade" id="ModalSearch" tabindex="-1" aria-labelledby="ModalSearch1" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header backGroundSearch">
                    <label>Busqueda de <label id="lblModalTypeSearch"></label></label>                    
                    
                    <div id="spinnerGeneralSearch" class="row col-4">                    
                        <div  class="spinner-border text-warning col-4" role="status"></div>
                        <div class="text-warning col-8">Cargando...</div>
                    </div>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>
                </div>
                
                <div class="modal-body">  
                    <input tipe="text" class="col-12" id="txtSearch"/>

                    <table class="table bg-white table-striped table-hover table-sortable TableDes"
                        id="TableSearchT" 
                        data-toggle="table"
                        data-flat="true"
                        data-search="true">
                        
                        <thead class="bg-dark text-light">
                            <th style="display:none;">Id</th>
                            <th>Registros encontrados</th>
                            <th width="30%">_</th>
                            <th width="50px"></th>
                        </thead>
                        <tbody id="rowsSearch">
                        </tbody>
                    </table>
                </div>
                
                <div class="frameworkDiv modal-footer backGroundSearch">
                    <div>
                        <a onclick="fnChangeGeneralSearch(5)" data-title="Registros por página">5</a>
                        &nbsp;
                        <a onclick="fnChangeGeneralSearch(10)" data-title="Registros por página">10</a>
                        &nbsp;
                        <a onclick="fnChangeGeneralSearch(15)" data-title="Registros por página">15</a>
                        &nbsp;
                        <a onclick="fnChangeGeneralSearch(20)" data-title="Registros por página">20</a> 
                        &nbsp;&nbsp;&nbsp;
                        <label id="selGeneralSearchGroup" style="display:none;">5</label>
                
                        &nbsp;&nbsp;
                        <input id="SalesGeneralSearchNPosition" type="number" value="1" 
                            min="1" max="99" class="numberPosition" 
                            onchange="fnLoadGeneralSearch()" data-title="Cantidad de registros por página"/>
                        &nbsp;&nbsp;

                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <!-- Modal para busqueda general (fin) -->

    <!-- Modal clientes -->
    <div class="modal fade" id="ModalClients" tabindex="-1" aria-labelledby="ModalClients1" aria-hidden="true" style="display:none;">
            
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Nuevo cliente <label id="lblOrigin"></label></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                </div>

                <div class="modal-body">
                        
                    <button class="btnActions" id="btnClientSave" onclick="fnBtnClientSave()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                    <button class="btnActions" id="btnClientClean" onclick="fnCleanClient()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                        
                    <div class="ModalInfo">
                        <div id="clientIdModal" style="display:none">
                            <label for="TxtIdCliente">Id</label>
                            <input type="text" class="txtSmall" id="TxtIdCliente" value="0" readonly style="display:none" />
                        </div>

                        <div>
                            <label for="TxtFirstNameCliente">Nombre <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtFirstNameCliente" />
                        </div>

                        <div>
                            <label for="TxtLastNameIdCliente">Apellido  <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtLastNameIdCliente" />
                        </div>

                        <div class="col-md-12">
                            <label for="TxtSaleSeller1" class="col-4">Vendedor <a style="color:#A52A2A;">*</a></label>
                            <input type="text" class="txtMedium col-7" id="TxtSaleSeller1" autocomplete="off" placeholder="Vendedor"/>                                
                            <label id="lblSaleSeller1" style="display:none;"></label>
                            <ul id="SearchResultsSaleSeller1"></ul>
                        </div>

                        <div>
                            <label for="TxtEmail1Cliente">Correo 1  <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtEmail1Cliente" />
                        </div>

                        <div>
                            <label for="TxtEmail2Cliente">Correo 2</label>
                            <input type="text" id="TxtEmail2Cliente" />
                        </div>

                        <div>
                            <label for="TxtPhone1Cliente">Teléfono 1  <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtPhone1Cliente" />
                        </div>

                        <div>
                            <label for="TxtPhone2Cliente">Teléfono 2</label>
                            <input type="text" id="TxtPhone2Cliente" />
                        </div>

                        <div>
                            <label for="typeDocumentSelect">Tipo de documento</label>
                            <select id="typeDocumentSelect" class="selectControl">
                                <option>DNI</option>
                                <option>Cédula</option>
                                <option>Pasaporte</option>
                                <option>Licencia</option>
                            </select>
                        </div>

                        <div>
                            <label for="TxtNationalitySelect">Nacionalidad</label>
                            <select id="TxtNationalitySelect" class="selectControl">
                                <option>Argentina</option>
                                <option>Colombia</option>
                                <option>Ecuador</option>
                                <option>Perú</option>
                            </select>
                        </div>

                        <div class="col-12">
                            @* <label for="TxtDocumCliente">Documento  <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtDocumCliente" class="col-5" />*@

                            <label for="TxtDocumCliente">Documento <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtDocumCliente" />
                        </div>

                        <div class="col-md-12">
                            <label for="TxtAdressCliente" class="col-4">Dirección <a style="color:#A52A2A;">*</a></label>
                            <input type="text" id="TxtAdressCliente" class="col-7" />
                        </div>

                        <div class="col-md-12">
                            <label for="TxtCommentCliente" class="col-4">Comentario</label>
                            <input type="text" id="TxtCommentCliente" class="col-7" />
                        </div>

                       @* <div>
                            <label for="SellerSelectClient">Vendedor</label>
                            <select id="SellerSelectClient" class="selectControl" onclick="fnLoadSelect('SellerSelectClient', 'Account/GetUserSeller')">                                    
                            </select>
                        </div>*@

                    </div>                        

                </div>

                <div class="modal-footer">
                    <div class="row">
                        <h5 class="col-md-4 alignRight">Id2: </h5>
                    </div>
                </div>
            </div>
        </div>            
    </div>

    <div id="MasterClients" class="divMaster" style="display:none;">
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de clientes</h3>

                <div id="spinnerClients" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsClients" class="btnsActions_ col-4">
                <button class="btnActions" id="btnClientSearch" onclick="fnSearchClient()"><i class="fa-solid fa-magnifying-glass" data-title="Buscar clientes"></i></button>
                <button class="btnActions" id="btnClientAdvancedSearch" onclick="fnSearchAdvancedClient()"><i class="fa-solid fa-arrow-down-short-wide" data-title="Busqueda avanzada de clientes"></i></button>
                <button class="btnActions" id="btnClientNew" onclick="fnAddClient('')"><i class="fa-solid fa-plus" data-title="Crear nuevo cliente"></i></button>                              
            </div>
            <br />
            <hr />
        </div>
        
        <!-- Modal que relaciona las ventas en los clientes -->
        <div class="modal fade" id="ModalClients_Sales" tabindex="-1" aria-labelledby="ModalClients_Sales1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Ventas por cliente</h5>
                        <label id="idClient_Sales" style="display:none;"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="" onclick="" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="" onclick="" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                        
                        <div>
                            <label id="nameClient_Sales"></label>
                            <br/>
                            <label id="documentClient_Sales"></label>
                        </div>                       

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight">Id2: </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <!--Busqueda básica de clientes menú superior-->
        <div id="divSearchClient" class="row SearchGeneral">

            <h3>Busqueda</h3>

            <div class="clientInfo row">
                <div class="col-4">
                    <label for="TxtFirstNameClienteBasicSearch">Nombre &nbsp; </label>
                    <input type="text" id="TxtFirstNameClientBasicSearch" />
                </div>
                
                <div class="col-4">
                    <label for="TxtLastNameIdClientBasicSearch">Apellido  &nbsp; </label>
                    <input type="text" id="TxtLastNameIdClientBasicSearch" />
                </div>
                
                <div class="col-4">
                    <label for="TxtDocumClientBasicSearch">Documento </label>
                    <input type="text" id="TxtDocumClientBasicSearch" />
                </div>
                                                
            </div>           

            <br />
            <br />
            <hr />

        </div>
        
        <!--Busqueda de avanzada de clientes menú superior-->
        <div id="divSearchClientAdvanced" class="ModalInfo row" style="display:none;">
            
            <h3>Busqueda avanzada</h3>
            
            <div class="col-6">
                <div style="display:none;">
                    <label for="TxtIdClientAdvanced">Id</label>
                    <input type="text" class="txtSmall" id="TxtIdClientAdvanced" value="0" readonly />
                </div>

                <div>
                    <label for="TxtFirstNameClientAdvanced">Nombre &nbsp; </label>
                    <input type="text" id="TxtFirstNameClientAdvanced" />
                </div>

                <div>
                    <label for="TxtLastNameIdClientAdvanced">Apellido  &nbsp; </label>
                    <input type="text" id="TxtLastNameIdClientAdvanced" />
                </div>

                <div>
                    <label for="TxtEmail1ClientAdvanced">Correo 1  &nbsp; </label>
                    <input type="text" id="TxtEmail1ClientAdvanced" />
                </div>

                <div>
                    <label for="TxtEmail2ClientAdvanced">Correo 2</label>
                    <input type="text" id="TxtEmail2ClientAdvanced" />
                </div>

            </div>

            <div class="col-6">

                <div>
                    <label for="TxtPhone1ClientAdvanced">Teléfono 1  &nbsp; </label>
                    <input type="text" id="TxtPhone1ClientAdvanced" />
                </div>

                <div>
                    <label for="TxtPhone2ClientAdvanced">Teléfono 2</label>
                    <input type="text" id="TxtPhone2ClientAdvanced" />
                </div>

                <div>
                    <label for="typeDocumentSelectAdvanced">Tipo de documento</label>
                    <select id="typeDocumentSelectAdvanced" class="selectControl">
                        <option>DNI</option>
                        <option>Cédula</option>
                        <option>Pasaporte</option>
                        <option>Licencia</option>
                    </select>
                </div>

                <div>
                    <label for="TxtDocumClientAdvanced">Documento </label>
                    <input type="text" id="TxtDocumClientAdvanced" />
                </div>

            </div>

            <br />
            <hr />

        </div>

        <br />

        <!--Tabla de clientes-->
        <div id="TabClients" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabClientsT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo 1</th>                    
                    <th>Teléfono 1</th>
                    <th>Tipo Doc</th>
                    <th>Número Doc</th>
                    <th width="12%">Opciones</th>
                </thead>
                <tbody id="rowsClient">
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <a onclick="fnChangeDataGroupClients(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupClients(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupClients(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupClients(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataGroup" style="display:none;">5</label>
                </div>
                                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="ClientsNPosition" type="number" value="1" 
                    min="1" max="99" class="numberPosition" 
                    onchange="fnLoadClients()"/>
                </div>
                
                &nbsp;&nbsp;

            </div>

        </div>

    </div>
    <!--Seleción de los clientes (Fin)-->

    <!--Seleción de los vendedores (Inicio)-->
    <div id="MasterSellers" class="divMaster" style="display:none;">
        
        <div class="row">
            <h3 class="col-4">Panel principal de vendedores</h3>
            <div id="btnsSellers" class="btnsActions_ col-8">
                <button class="btnActions" id="btnSearchSeller" onclick="fnSearchSeller()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnAdvancedSearchSeller" onclick="fnSearchAdvancedSeller()" data-title="Busqueda Busqueda avanzada de registro"><i class="fa-solid fa-arrow-down-short-wide"></i></button>
                <button class="btnActions" id="btnSellerNew" onclick="fnAddSeller()" data-title="Guardar registro"><i class="fa-solid fa-plus"></i></button>
                              
            </div>

            <br />
            <hr />

        </div>

        <!--Modal Sellers-->
        <div class="modal fade" id="Modalsellers" tabindex="-1" aria-labelledby="ModalSellers1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Nuevo vendedor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnSaveSeller" onclick="fnBtnSaveSeller()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnCleanSeller" onclick="fnCleanSeller()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                        
                        <div class="ModalInfo">
                            <div id="sellerIdModal" style="display:none">
                                <label for="TxtIdSeller">Id</label>
                                <input type="text" class="txtSmall" id="TxtIdSeller" value="0" readonly style="display:none" />
                            </div>

                            <div>
                                <label for="TxtFirstNameSeller">Nombre <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtFirstNameSeller" />
                            </div>

                            <div>
                                <label for="TxtLastNameSeller">Apellido  <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtLastNameSeller" />
                            </div>

                            <div>
                                <label for="TxtEmailseller">Correo <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtEmailseller" />
                            </div>

                            <div>
                                <label for="TxtDateSeller">Nacimiento</label>
                                <input type="date" id="TxtDateSeller" />
                            </div>

                            <div>
                                <label for="typeDocumentSelectSeller">Tipo de documento</label>
                                <select id="typeDocumentSelectSeller" class="selectControl">
                                    <option>DNI</option>
                                    <option>Cédula</option>
                                    <option>Pasaporte</option>
                                    <option>Licencia</option>
                                </select>
                            </div>

                            <div class="col-12">
                               @* <label for="TxtDocumCliente">Documento  <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtDocumCliente" class="col-5" />*@

                                <label for="TxtDocumSeller">Documento</label>
                                <input type="text" id="TxtDocumSeller" />
                            </div>

                            <div class="col-md-12">
                                <label for="TxtCommentSeller" class="col-4">Comentario</label>
                                <input type="text" id="TxtCommentSeller" class="col-7" />
                            </div>
                                                        
                            <div>
                                <label for="SelectBranchSeller">Sucursal <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectBranchSeller" class="selectControl" onclick="fnLoadSelect('SelectBranchSeller', 'Branches/GetBranches')">                                    
                                </select>
                            </div>

                        </div>                        

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight">Id2: </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div id="divSearchSeller" class="row SearchGeneral">

            <h3>Busqueda</h3>

            <div class="clientInfo row">
                <div class="col-4">
                    <label for="TxtFirstNameBasicSearchSeller">Nombre &nbsp; </label>
                    <input type="text" id="TxtFirstNameBasicSearchSeller" />
                </div>
                
                <div class="col-4">
                    <label for="TxtLastNameBasicSearchSeller">Apellido  &nbsp; </label>
                    <input type="text" id="TxtLastNameBasicSearchSeller" />
                </div>
                
                <div class="col-4">
                    <label for="TxtDocumBasicSearchSeller">Documento </label>
                    <input type="text" id="TxtDocumBasicSearchSeller" />
                </div>
                                                
            </div>           

            <br />
            <br />
            <hr />

        </div>

        <div id="divSearchAdvancedSeller" class="ModalInfo row" style="display:none;">
            
            <h3>Busqueda avanzada</h3>
            
            <div class="col-6">
                <div>
                    <label for="TxtFirstNameSeller">Nombre <a style="color:#A52A2A;">*</a></label>
                    <input type="text" id="TxtFirstNameSeller" />
                </div>

                <div>
                    <label for="TxtLastNameSeller">Apellido  <a style="color:#A52A2A;">*</a></label>
                    <input type="text" id="TxtLastNameSeller" />
                </div>

                <div>
                    <label for="TxtEmailseller">Correo <a style="color:#A52A2A;">*</a></label>
                    <input type="text" id="TxtEmailseller" />
                </div>

            </div>

            <div class="col-6">

                <div>
                    <label for="TxtDateSeller">Nacimiento</label>
                    <input type="date" id="TxtDateSeller" />
                </div>

                <div>
                    <label for="typeDocumentSelectSeller">Tipo de documento</label>
                    <select id="typeDocumentSelectSeller" class="selectControl">
                        <option>DNI</option>
                        <option>Cédula</option>
                        <option>Pasaporte</option>
                        <option>Licencia</option>
                    </select>
                </div>

                <div class="col-12">
                    @* <label for="TxtDocumCliente">Documento  <a style="color:#A52A2A;">*</a></label>
                    <input type="text" id="TxtDocumCliente" class="col-5" />*@

                    <label for="TxtDocumSeller">Documento</label>
                    <input type="text" id="TxtDocumSeller" />
                </div>

                <div class="col-md-12">
                    <label for="TxtBranchSeller" class="col-4">Sucursal</label>
                    <input type="text" id="TxtBranchSeller" />
                </div>

            </div>

            <br />
            <hr />

        </div>

        <!--Tabla Sellers-->
        <div id="TabSellers" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabSellersT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>                    
                    <th>Tipo Doc</th>
                    <th>Número Doc</th>
                </thead>
                <tbody id="rowsSellers">
                </tbody>
            </table>

            <div>
                <a onclick="fnChangeDataGroupClients(5)">5</a>
                &nbsp;
                <a onclick="fnChangeDataGroupClients(10)">10</a>
                &nbsp;
                <a onclick="fnChangeDataGroupClients(15)">15</a>
                &nbsp;
                <a onclick="fnChangeDataGroupClients(20)">20</a> 
                &nbsp;&nbsp;&nbsp;
                <label id="selDataGroup" style="display:none;">5</label>
                
                &nbsp;&nbsp;
                <input id="ClientsNPosition" type="number" value="1" min="1" max="99" class="numberPosition" />
                &nbsp;&nbsp;

            </div>

        </div>
               
    </div>
    <!--Seleción de los vendedores (Fin)-->

    <!--Sección de los productos (Inicio)-->
    <div id="MasterProducts" class="divMaster" style="display:none;">
        
        <div class="row">
            
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de productos</h3>

                <div id="spinnerProducts" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>
                        
            <div id="btnsProducts" class="btnsActions_ col-4">
                <button class="btnActions" id="btnProductsSearch" onclick="fnSearchProducts()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnProductsNew" onclick="fnAddProduct()" data-title="Agregar nuevo registro"><i class="fa-solid fa-plus"></i></button>                              
            </div>

            <br />
            <hr />
        </div>
        
        <!--Busqueda básica de productos menú superior-->
        <div id="divSearchClient" class="row SearchGeneral">

            <h3>Busqueda</h3>

            <div class="clientInfo row">
                <div class="col-4">
                    <label for="TxtFirstNameProductBasicSearch">Nombre &nbsp; </label>
                    <input type="text" id="TxtFirstNameProductBasicSearch" />
                </div>                                                                                
            </div>           

            <br />
            <br />
            <hr />

        </div>

        <br />

        <!--Tabla de productos-->
        <div id="TabProducts" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabProductsT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th>Descripción</th> 
                    <th width="20%">Costo por defecto</th> 
                    <th width="10%">Opciones</th>
                </thead>
                <tbody id="rowsProducts">
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <a onclick="fnChangeDataGroupProducts(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupProducts(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupProducts(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupProducts(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataProductsGroup" style="display:none;">5</label>
                </div>                
                
                &nbsp;&nbsp;
                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="ProductsNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadProducts()"/>
                </div>
                
                &nbsp;&nbsp;

            </div>

        </div>

        <!-- Modal productos -->
        <div class="modal fade" id="ModalProducts" tabindex="-1" aria-labelledby="ModalProducts1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Nuevo producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnProductSave" onclick="fnBtnSaveProduct()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnProductClean" onclick="fnCleanProducts()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                        
                        <div class="ModalInfo">
                            <div id="clientIdModal" style="display:none">
                                <label for="TxtIdProduct">Id</label>
                                <input type="text" class="txtSmall" id="TxtIdProduct" value="0" readonly style="display:none" />
                            </div>

                            <div>
                                <label for="TxtProductDescription">Descripción <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtProductDescription" />
                            </div>

                            <div>
                                <label for="TxtProductPrice">Costo</label>
                                @*<input type="number" id="TxtProductPrice" onchange="setTwoNumberDecimal" min="0" max="10" step="0.25" value="0.00"/>*@
                                <input type="number" id="TxtProductPrice" min="0" max="10" step="0.25" value="0.00"/>
                            </div>
                            
                        </div>                        

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight">Id2: </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    </div>
    <!--Sección de los productos (Fin)-->

    <!--Sección de las ventas (Inicio)-->

    <!--Modal de ventas ()-->
    <div class="modal fade" id="ModalSales" tabindex="-1" aria-labelledby="ModalSales1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Carrito de ventas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnSaveSale" onclick="fnBtnSaveSale()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnCleanSale" onclick="fnCleanSale()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                                                
                        <div class="ModalInfo">
                            <div id="SalesIdModal" style="display:none">
                                <label for="TxtIdSale">Id</label>
                                <input type="text" class="txtSmall" id="TxtIdSeller" value="0" readonly style="display:none" />
                            </div>

                            <div id="SalesNumCarModal">
                                <label for="TxtNumberSale">Número 
                                    <a style="color:#A52A2A;">*</a> &nbsp;
                                    <i id="lblNumberSale" class="fa-solid fa-triangle-exclamation" style="color:#A52A2A; display:none;" data-title="Formato del número incorrecto!!!"></i>
                                    <i id="lblNumberSaleOk" class="fa-regular fa-circle-check" style="color:#27AE60; display:none;" data-title="Formato correcto!"></i>
                                </label>
                                <input type="text" class="txtMedium" id="TxtNumberSale"                                     
                                    placeholder="000-000-000" 
                                    minlength="11" maxlength="11" 
                                    data-title="Inserte 9 números en bloques de 3 divididos por un guión, Ejemplo 000-000-000"
                                    onblur="lostFocusNumberSale()"/>
                            </div>

                            <div>
                                <label for="DpickerDateSale">Fecha venta <a style="color:#A52A2A;">*</a></label>
                                <input type="date" id="DpickerDateSale" />
                            </div>

                            <div class="highlightSection" style="display:none;">
                                @*<label for="SelectSaleClient">Cliente <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium" id="TxtSaleClient" />*@
                                                                
                                @*<button id="searchSalesClient" class="btnActionsSmall" onclick="fnShowGeneralSearch('clientes')" data-title="Buscar cliente"><i class="fa-solid fa-magnifying-glass"></i></button>
                                <button id="addNewSalesClient" class="btnActionsSmall" onclick="fnAddClient('Ventas')" data-title="Agregar nuevo cliente"><i class="fa-solid fa-plus"></i></button>*@

                                @*<label for="SelectSaleClient">Cliente <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleClient" class="selectControl" onclick="fnLoadSelect('SelectSaleClient', 'Clients/GetClients')">                                    
                                </select>*@
                            </div>
                                   
                            <div class="col-md-12">
                                <label for="SelectSaleClient" class="col-4">Cliente <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium col-7" id="TxtSaleClient2" autocomplete="off" placeholder="Cliente"/>
                                <button id="searchSalesClient" class="btnActionsSmall" onclick="fnShowGeneralSearch('clientes')" data-title="Buscar cliente"><i class="fa-solid fa-magnifying-glass"></i></button>
                                <button id="addNewSalesClient" class="btnActionsSmall" onclick="fnAddClient('Ventas')" data-title="Agregar nuevo cliente"><i class="fa-solid fa-plus"></i></button>
                                <label id="lblSaleClient" style="display:none;"></label>
                                <ul id="SearchResultsClients"></ul>
                            </div>

                            @*<div>
                                <label for="SelectSaleSeller">Vendedor <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleSeller" class="selectControl" onclick="fnLoadSelect('SelectSaleSeller', 'Account/GetUserSeller')">                                    
                                </select>
                            </div>*@

                            <div class="col-md-12">
                                <label for="SelectSaleSeller" class="col-4">Vendedor <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium col-7" id="TxtSaleSeller2" autocomplete="off" placeholder="Vendedor"/>                                
                                <label id="lblSaleSeller" style="display:none;"></label>
                                <ul id="SearchResultsSaleSeller"></ul>
                            </div>

                            <div>
                                <label for="SelectSaleChannel">Canal <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleChannel" class="selectControl" onclick="fnLoadSelect('SelectSaleChannel', 'Channels/GetChannels')">                                    
                                </select>
                            </div>
                            
                            <div>
                                <label for="SelectSaleBranch">Sucursal <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleBranch" class="selectControl" onclick="fnLoadSelect('SelectSaleBranch', 'Branches/GetBranches')">                                    
                                </select>
                            </div>

                            <div>
                                <label for="SelectSaleCoin">Moneda <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleCoin" class="selectControl" onclick="fnLoadSelect('SelectSaleCoin', 'Coins/GetCoins')">                                    
                                </select>
                            </div>

                           @* <div>
                                <label for="TxtAmountSale">Monto <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtAmountSale" value="0.00" disabled/>
                            </div>*@

                            <div class="col-md-12">
                                <label for="TxtCommentSale" class="col-4">Comentario</label>
                                <input type="text" id="TxtCommentSale" class="col-7" />
                            </div>
                            
                        </div>                        

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight"></h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    <!--Modal de pagos en ventas ()-->
    <div class="modal fade" id="ModalPayment" tabindex="-1" aria-labelledby="ModalPayment1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Pagos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnDeletePayment" onclick="fnDeletePayment()" data-title="Borrar pago"><i class="fa-regular fa-trash-can"></i></button>                        
                        <button class="btnActions" id="btnSavePayment" onclick="fnBtnSavePayment()" data-title="Guardar pago"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnCleanPayment" onclick="fnCleanPayment()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                            
                        <br />

                        <div class="ModalInfo">
                            <div id="PymentIdModal" style="display:none;">
                                <label for="TxtIdPayment">Id</label>
                                <input type="text" class="txtSmall" id="TxtIdPayment" value="0" readonly />
                            </div>

                            <div>
                                <label for="DpickerDatePayment">Fecha pago <a style="color:#A52A2A;">*</a></label>
                                <input type="date" id="DpickerDatePayment" />
                            </div>
                            
                            <div>
                                <label for="typePayment">Tipo de pago <a style="color:#A52A2A;">*</a></label>
                                <select id="typePayment" class="selectControl" onchange="fnTypePaymentSelect()">
                                    <option value="1">Efectivo pesos</option>
                                    <option value="2">Efectivo dólares</option>
                                    <option value="3">Efectivo euros</option>|
                                    <option value="0">Tarjeta de debito</option>
                                    <option value="0">Tarjeta de crédito</option>
                                    <option value="0">Transferencia bancaria</option>
                                </select>
                            </div>

                            <div id="divEnvelope">
                                <label for="TxtEnvelope">Sobre# <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium" id="TxtPaymentEnvelope" value="0"/>
                            </div>

                            <div>
                                <label for="TxtAmountPayment">Monto <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium" id="TxtAmountPayment" value="0.00"/>
                                <button id="AddPaimentRecord" class="btnActionsSmall" onclick="fnAddPaymentRecord()" data-title="Agregar pago"><i class="fa-solid fa-plus"></i></button>
                            </div>

                            <br />
                            <div>
                                <span>Saldo (ARS): <label id="lblTotalOpr">00.00</label></span>     
                                <label id="lblTotalOpr2" style="display:none;"></label>
                            </div>
                            <div>
                                <div id="TabPayment" class="container">
            
                                    <table class="table bg-white table-striped table-hover table-sortable TableDes"
                                           id="TabPaymentT"
                                           data-toggle="table"
                                           data-flat="true"
                                           data-search="true">

                                        <thead class="bg-dark text-light">
                                            <th style="display:none;">Id</th>
                                            <th width="42%">Tipo</th>
                                            <th>Monto</th>
                                            <th>Sobre</th>
                                            <th width="12%">Opc</th>
                                        </thead>
                                        <tbody id="rowsPayment">
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <br />

                            <div class="col-md-12" style="display:none;">
                                <label for="TxtCommentPayment" class="col-4">Comentario</label>
                                <input type="text" id="TxtCommentPayment" class="col-7" />
                            </div>

                            <span>Valor de la moneda (pesos): <label id="TxtCoinValue">1</label></span>
                                                                                    
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight"></h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    <!--Modal de detalle de ventas ()-->
    <div class="modal fade" id="ModalSalesDetail" tabindex="-1" aria-labelledby="ModalSalesDetail1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> <a id="lblDetalleNro">Detalle del carrito</a></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnSaveSaleDetail" onclick="fnBtnSaveSaleDetail()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnCleanSaleDetail" onclick="fnCleanSaleDetail()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                                                
                        <div id="spinnerSalesModal" class="row col-4" style="display:none;">                    
                            <div  class="spinner-border text-warning col-4" role="status"></div>
                            <div class="text-warning col-8">Cargando...</div>
                        </div>
                        
                        <div class="ModalInfo">
                            <div style="display:none;">
                                <label for="TxtIdSaleDetail">Carrito</label>
                                <input type="text" class="txtSmall" id="TxtIdSaleDetail" readonly />
                            </div>
                            
                            <div>
                                <label for="TxtIdSaleCarNumber">Número</label>
                                <input type="text" class="txtMedium" id="TxtCarNumberSale"                                     
		                        placeholder="000-000-000" 
		                        minlength="11" maxlength="11" readonly/>
                            </div>

                            <div>
                                <label for="DpickerDateSaleDetail">Fecha vuelo <a style="color:#A52A2A;">*</a></label>
                                <input type="date" id="DpickerDateSaleDetail" />
                            </div>

                            <div>
                                <label for="SelectSaleDeailProduct">Producto <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleDeailProduct" class="selectControl" onclick="fnLoadSelect('SelectSaleDeailProduct', 'Products/GetProducts')">                                    
                                </select>
                            </div>

                            @*<div id="divCountry" style="display:none;">
                                <label for="SelectSaleCountry">País <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleCountry" class="selectControl" onchange="fnLoadProvices('SelectSaleCountry')" onclick="fnLoadSelect('SelectSaleCountry', 'Destinations/GetDestinationsCountries')" >                                    
                                </select>
                            </div>*@

                            @*<div>
                                <label for="SelectSaleDeailFrom">Desde <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleDeailFrom" class="selectControl">                                    
                                </select>
                            </div>*@
                                                                                    
                            @*<div>
                                <label for="SelectSaleDeailTo">Destino <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectSaleDeailTo" class="selectControl" onclick="fnLoadSelect('SelectSaleDeailTo', 'Destinations/GetDestinationsCountries')">                                    
                                </select>
                            </div>*@

                            <div>
                                <div >
                                <label for="lblSaleDeailTo">Destino <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium col-md-12" id="TxtSaleDeailTo" autocomplete="off"/>                                
                                <ul id="SearchResultsSaleDeailTo"></ul>
                                <label id="lblSaleDeailTo" style="display:none;"></label>
                            </div>
                            </div>

                            <div>
                                <label for="TxtAmountSaleDetail">Monto <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtAmountSaleDetail" value="0.00"/>
                            </div>

                            <div>
                                <label for="TxtUtilitySaleDetail">Utilidad <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtUtilitySaleDetail" value="0.00"/>
                            </div>

                            <div>
                                <label for="TxtMkupSaleDetail">MKUP(%) <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtMkupSaleDetail" value="0.00"/>
                            </div>

                            <div id="SectionAudit" style="display:none;">
                                <label for="chkAudit">Registro auditado</label>
                                <input type="checkbox" id="chkAudit"/>
                            </div>
                            
                        </div>                        

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight">                                
                                <label id="lblSalesDetailId" style="display:none;"></label>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    <!--Sección general de ventas-->
    <div id="MasterSales" class="divMaster" style="display:none;">
       
        <div class="row">
            <div class="row col-8"> 

                <h3 class="col-8">Panel principal de ventas</h3>

                <div id="spinnerSales" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
                
            </div>
            <div id="btnsSales" class="btnsActions_ col-4">
                <button class="btnActions" id="btnSearchSales" onclick="fnSearchSales()" data-title="Buscar venta"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnAdvancedSearchSales" onclick="fnSearchAdvancedSales()" data-title="Buscar venta avanzada"><i class="fa-solid fa-arrow-down-short-wide"></i></button>
                <button class="btnActions" id="btnSalesNew" onclick="fnAddSales()" data-title="Agregar nueva venta"><i class="fa-solid fa-plus"></i></button>                 
            </div>

            <br />
            <hr />
        </div>

        <!--Tabla de ventas-->
        <div id="TabSales" class="container">            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabSalesT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th width="10%">Fecha</th>
                    <th width="19%">Cliente</th>
                    <th width="15%">Documento</th>
                    <th width="19%">Vendedor</th> 
                    <th width="12%">Número</th>
                    <th>Monto</th> 
                    <th width="13%">Opciones</th>
                </thead>
                <tbody id="rowsSales">
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <a onclick="fnChangeDataGroupSales(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupSales(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupSales(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupSales(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataSalesGroup" style="display:none;">5</label>
                </div>
                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="SalesNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadSales()"/>
                </div>

                &nbsp;&nbsp;

            </div>

        </div>
            
        <br />

        <!--Sección detalle del carrito de ventas-->
        <div class="row">
            <div class="row col-8"> 

                <h4 class="col-8" id="lblDetallecarrito">Detalle del carrito Nro <a id="lblCarNumber"></a></h4>

                <div id="spinnerSalesDetail" class="row col-4" style="display:none;">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
                
            </div>
            
            
            <div id="btnsSellersDetail" class="btnsActions_ col-4">              
                <button class="btnActions" id="btnSalesDetailNew" onclick="fnAddSalesDetail(true)" data-title="Agregar detalle de la venta"><i class="fa-solid fa-plus"></i></button>           
            </div>

            <br />
            <hr />
        </div>

        <!--Tabla de detalles de las ventas-->
        <div id="TabSalesDetail" class="container">            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabSalesDetailT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none">IdItem</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Monto</th> 
                    <th>Utilidad</th> 
                    <th>Mkup(%)</th> 
                    <th width="10%">Opciones</th>
                </thead>
                <tbody id="rowsSalesDetail">
                </tbody>
            </table>
        </div>

    </div>

    <!--Sección de las ventas (Fin)-->

    <!--Seccion de los destinos (Inicio) (Sitios de viaje)-->

    <!--Sección de los destinos (Fin)-->
    
    <!--Panel principal de sucursales (inicio)-->

    <!-- Encabezado de sucursales -->
    <div id="MasterBranches" class="divMaster" style="display:none;">
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de sucursales</h3>

                <div id="spinnerBranches" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsClients" class="btnsActions_ col-4">
                <button class="btnActions" id="btnBranchSearch" onclick="fnSearchClient()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnBranchNew" onclick="fnAddBranches()" data-title="Agregar nuevo registro"><i class="fa-solid fa-plus"></i></button>                              
            </div>
            <br />
            <hr />
        </div>

        <!--Tabla de sucursales-->
        <div id="TabBranches" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabBranchesT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Shopping</th>
                    <th width="10%">Opciones</th>
                </thead>
                <tbody id="rowsBranches">
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <a onclick="fnChangeDataGroupBranches(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupBranches(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupBranches(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupBranches(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataBranchesGroup" style="display:none;">5</label>
                </div>
                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="BranchesNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadBranches()"/>
                </div>

                &nbsp;&nbsp;

            </div>

        </div>

        <!--Modal de sucursales (inicio)-->
        <div class="modal fade" id="ModalBranches" tabindex="-1" aria-labelledby="ModalBranches1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Sucursales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnSaveBranches" onclick="fnBtnSaveBranches()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                            
                        <br />

                        <div class="ModalInfo">
                            
                            <div id="BranchIdModal" style="display:none;">
                                <label for="TxtIdBranch">Id moneda</label>
                                <input type="text" class="txtSmall" id="TxtIdBranch" value="0" readonly />
                            </div>

                            <div>
                                <label for="txtNameBranches">Nombre <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="txtNameBranches" />
                            </div>

                            <div>
                                <label for="txtEmailBranches">Correo <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="txtEmailBranches" />
                            </div>

                            <div>
                                <label for="chkIsShopBranches">Esta en shopping? <a style="color:#A52A2A;">*</a></label>
                                <input type="checkbox" id="chkIsShopBranches" />
                            </div>
                            
                            <br />                                                                                                        
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight"></h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    </div>
    <!--Panel principal de sucursales (fin)-->
    
    <!-- Panel de días feriados (inicio) -->
    <div id="MasterHolidays" class="divMaster" style="display:none;">
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de feriados</h3>

                <div id="spinnerHolidays" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsHolidays" class="btnsActions_ col-4">
                <button class="btnActions" id="btnHolidaysSearch" onclick="fnSearchHolidays()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnHolidaysNew" onclick="fnAddHolidays()" data-title="Agregar nuevo registro"><i class="fa-solid fa-plus"></i></button>                              
            </div>
            <br />
            <hr />
        </div>

        <!--Tabla de feriados-->
        <div id="TabHolidays" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabHolidaysT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th width="15%">Fecha</th>
                    <th>Comentario</th>
                    <th width="10%">Opciones</th>
                </thead>
                <tbody id="rowsHolidays">
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <a onclick="fnChangeDataGroupHolidays(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupHolidays(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupHolidays(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupHolidays(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataHolidaysGroup" style="display:none;">5</label>
                </div>
                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="HolidaysNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadHolidays()"/>
                </div>

                &nbsp;&nbsp;

            </div>

        </div>

        <!--Modal de días feriados (inicio)-->
        <div class="modal fade" id="ModalHolidays" tabindex="-1" aria-labelledby="ModalHolidays1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Historico de feriados</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnSaveHolidays" onclick="fnBtnSaveHolidays()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                            
                        <br />

                        <div class="ModalInfo">
                            <div id="HolidaysIdModal" style="display:none;">
                                <label for="TxtIdHolidays">Id moneda</label>
                                <input type="text" class="txtSmall" id="TxtIdHolidays" value="0" readonly />
                            </div>

                            <div>
                                <label for="DpickerDateHolidays">Fecha valor <a style="color:#A52A2A;">*</a></label>
                                <input type="date" id="DpickerDateHolidays" />
                            </div>

                            <div>
                                <label for="DescriptionHolidays">Descripción <a style="color:#A52A2A;">*</a></label>
                                <textarea rows="2" id="DescriptionHolidays"></textarea>
                            </div>
                            
                            <br />                                                                                                        
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight"></h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    </div>

    <!-- Encabezado de días feriados (Inicio) -->

    <!-- días feriados (Fin) -->

    <!--Panel principal de monedas (inicio)-->

    <!-- Encabezado de monedas -->       
    <div id="MasterCoins" class="divMaster" style="display:none;">
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de monedas</h3>

                <div id="spinnerCoins" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsCoins" class="btnsActions_ col-4">
                <button class="btnActions" id="btnCoins" onclick="fnSearchCoins()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnCoins" onclick="fnAddCoin()" data-title="Agregar nuevo registro"><i class="fa-solid fa-plus"></i></button>                              
            </div>
            <br />
            <hr />
        </div>

        <!--Tabla de monedas-->
        <div id="TabCoins" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabCoinsT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th>Nombre</th>
                    <th>Valor Actual</th>
                    <th>Fecha de Actualización</th>
                    <th width="10%">Opciones</th>
                </thead>
                <tbody id="rowsCoins">
                </tbody>
            </table>

            <div class="row">
		        <div class="col-2">
                    <a onclick="fnChangeDataGroupCoins(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupCoins(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupCoins(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupCoins(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataCoinsGroup" style="display:none;">5</label>
                </div>
                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="CoinsNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadCoins()"/>
                </div>

                &nbsp;&nbsp;

            </div>

        </div>

    </div>

    <!--Modal de actualización de valor de monedas ()-->
    <div class="modal fade" id="ModalCoinHistory" tabindex="-1" aria-labelledby="ModalCoinHistory1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Historico de monedas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <h5 id="lblSelectCoin"></h5>
                        <button class="btnActions" id="btnSaveCoinHistory" onclick="fnBtnSaveCoinHistory()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                            
                        <br />

                        <div class="ModalInfo">
                            <div id="CoinHistoryIdModal" style="display:none;">
                                <label for="TxtIdCoinHistory">Id moneda</label>
                                <input type="text" class="txtSmall" id="TxtIdCoinHistory" value="0" readonly />
                            </div>

                            <div>
                                <label for="DpickerDateCoinHistory">Fecha valor <a style="color:#A52A2A;">*</a></label>
                                <input type="date" id="DpickerDateCoinHistory" />
                            </div>
                            
                            <div>
                                <label for="TxtAmountCoinHistory">Monto <a style="color:#A52A2A;">*</a></label>
                                <input type="text" class="txtMedium" id="TxtAmountCoinHistory" value="0.00"/>
                            </div>

                            <br />
                            
                            <div>
                                <div id="TabCoinHistory" class="container">
            
                                    <table class="table bg-white table-striped table-hover table-sortable TableDes"
                                           id="TabCoinHistoryT"
                                           data-toggle="table"
                                           data-flat="true"
                                           data-search="true">

                                        <thead class="bg-dark text-light">
                                            <th style="display:none;">Id</th>
                                            <th>Monto</th>
                                            <th>Fecha</th>
                                            <th width="12%">Opc</th>
                                        </thead>
                                        <tbody id="rowsCoinHistory">
                                        </tbody>
                                    </table>

                                    <div>
                                        <a onclick="fnChangeDataGroupCoinHistory(5)">5</a>
                                        &nbsp;
                                        <a onclick="fnChangeDataGroupCoinHistory(10)">10</a>
                                        &nbsp;
                                        <a onclick="fnChangeDataGroupCoinHistory(15)">15</a>
                                        &nbsp;
                                        <a onclick="fnChangeDataGroupCoinHistory(20)">20</a> 
                                        &nbsp;&nbsp;&nbsp;
                                        <label id="selDataCoinHistoryGroup" style="display:none;">5</label>
                
                                        &nbsp;&nbsp;
                                        <input id="CoinHistoryNPosition" type="number" value="1" min="1" max="99" class="numberPosition" onchange="fnLoadHistoryCoins()"/>
                                        &nbsp;&nbsp;

                                    </div>

                                </div>
                            </div>                                                                                                                
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight"></h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    <!--Panel principal de monedas (fin)-->

    <!--Panel principal de destinos (inicio)-->

    <!-- Encabezado de destinos -->       
    <div id="MasterDestinations" class="divMaster" style="display:none;">
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de destinos</h3>

                <div id="spinnerDestinations" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsDestinations" class="btnsActions_ col-4">
                <button class="btnActions" id="btnDestinations" onclick="fnSearchDestinations()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnDestinations" onclick="fnAddDestinations('0')" data-title="Agregar nuevo registro"><i class="fa-solid fa-plus"></i></button>                              
            </div>
            <br />
            <hr />
        </div>



        <!--Tabla de destinos-->
        <div>
            <label>Buscar: </label>
            <input type="text" id="txtSearchDestinations"/>
        </div>

        <br/>

        <div id="TabDestinations" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabDestinationsT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th>País</th>
                    <th>Es provincia?</th>
                    <th>Nombre provincia</th>
                    <th width="10%">Opciones</th>
                </thead>
                <tbody id="rowsDestinations">
                </tbody>
            </table>

            <div class="row">
		        <div class="col-2">
                    <a onclick="fnChangeDataGroupDestinations(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupDestinations(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupDestinations(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupDestinations(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataCoinsDestinations" style="display:none;">5</label>
                </div>
                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="DestinationsNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadDestinations()"/>
                </div>

                &nbsp;&nbsp;

            </div>

        </div>

    <!--Modal de destinos ()-->
    <div class="modal fade" id="ModalDestinations" tabindex="-1" aria-labelledby="ModalDestinations1" aria-hidden="true">
            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> <a>Destinos</a></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnSaveDestinations" onclick="fnBtnSaveDestinations()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnCleanDestinations" onclick="fnCleanDestinations()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                        
                        <div class="ModalInfo">
                            <div style="display:none;">                                
                                <input type="text" id="TxtIdDestinations" readonly />
                            </div>
                            
                            <div>
                                <label for="TxtDestinationsName">Nombre <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtDestinationsName"/>
                            </div>
                            
                        </div>                        

                    </div>

                    <div class="modal-footer">
                        <h5></h5>
                    </div>
                </div>
            </div>            
        </div>

    </div>
    <!--Panel principal de destinos (fin)-->

    <!--Panel principal de objetivos (fin)-->    
    <div id="MasterGoals" class="divMaster" style="display:none;">
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Panel principal de objetivos</h3>

                <div id="spinnerGoals" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsCoins" class="btnsActions_ col-4">
                <button class="btnActions" id="btnCoins" onclick="fnSearchGoals()" data-title="Buscar registro"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btnActions" id="btnCoins" onclick="fnAddGoal()" data-title="Agregar nuevo registro"><i class="fa-solid fa-plus"></i></button>                              
            </div>
            <br />
            <hr />
        </div>     
        
        <!--Tabla de objetivos-->
        <div id="TabGoals" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabGoalsT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th style="display:none;">Id</th>
                    <th style="display:none;">SucursalId</th>
                    <th style="display:none;">VendedorlId</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Monto</th>
                    <th width="15%">Opciones</th>
                </thead>
                <tbody id="rowsGoals">
                </tbody>
            </table>

            <div class="row">
		        <div class="col-2">
                    <a onclick="fnChangeDataGroupGoals(5)" data-title="Registros por página">5</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupGoals(10)" data-title="Registros por página">10</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupGoals(15)" data-title="Registros por página">15</a>
                    &nbsp;
                    <a onclick="fnChangeDataGroupGoals(20)" data-title="Registros por página">20</a> 
                    &nbsp;&nbsp;&nbsp;
                    <label id="selDataGoalsGroup" style="display:none;">5</label>
                </div>
                
                &nbsp;&nbsp;

                <div data-title="Cantidad de registros por página" class="col-1">
                    <input id="GoalsNPosition" type="number" value="1" 
                        min="1" max="99" class="numberPosition" 
                        onchange="fnLoadGoals()"/>
                    &nbsp;&nbsp;
                </div>

            </div>

        </div>

        <!-- Modal objetivos -->
        <div class="modal fade" id="ModalGoals" tabindex="-1" aria-labelledby="ModalGoals1" aria-hidden="true">            
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> <i class="fa-solid fa-square-up-right"></i> Nuevo objetivo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-title="Cerrar formulario"></button>                        
                    </div>

                    <div class="modal-body">
                        
                        <button class="btnActions" id="btnGoalSave" onclick="fnBtnSaveGoal()" data-title="Guardar registro"><i class="fa-regular fa-floppy-disk"></i></button>
                        <button class="btnActions" id="btnGoalClean" onclick="fnCleanGoal()" data-title="Limpiar campos"><i class="fa-solid fa-arrows-rotate"></i></button>
                        
                        <div class="ModalInfo">
                            <div id="GoalIdModal">
                                <label for="TxtIdGoal">Id</label>
                                <input type="text" class="txtSmall" id="TxtIdGoal" value="0" readonly />
                            </div>

                            <div>
                                <label for="DpickerDateGoal">Fecha <a style="color:#A52A2A;">*</a></label>
                                <input type="date" id="DpickerDateGoal" />
                            </div>

                            <div class="highlightSection">
                                <label>Tipo de objetivo <a style="color:#A52A2A;">*</a></label>
                                <br />
                                <input type="radio" id="radioSeller" name="selectCase" value="S" onclick="fnGoalSelect('S')">
                                <label for="radioSeller">Vendedor</label><br>
                                <input type="radio" id="radioBranch" name="selectCase" value="B" onclick="fnGoalSelect('B')">
                                <label for="radioBranch">Sucursal</label><br>  
                            </div>

                            <div id="selGoalSeller" style="display:none;">
                                <label for="SelectGoalSeller">Vendedor <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectGoalSeller" class="selectControl" onclick="fnLoadSelect('SelectGoalSeller', 'Account/GetUserSeller')">                                    
                                </select>
                            </div>

                            <div id="selGoalBranch" style="display:none;">
                                <label for="SelectGoalBranch">Sucursal <a style="color:#A52A2A;">*</a></label>
                                <select id="SelectGoalBranch" class="selectControl" onclick="fnLoadSelect('SelectGoalBranch', 'Branches/GetBranches')">                                    
                                </select>
                            </div>

                            <div>
                                <label for="TxtAmountGoal">Monto <a style="color:#A52A2A;">*</a></label>
                                <input type="text" id="TxtAmountGoal" value="0.00"/>
                            </div>
                            
                        </div>                        

                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <h5 class="col-md-4 alignRight">Id2: </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    </div>    
    <!--Panel principal de objetivos (fin)-->

    <!--Sección de graficos y reportes (Inicio)-->
    <div id="MasterCharts" class="divMaster" >
        
        <div class="row">
            <div class="row col-8"> 
                <h3 class="col-8">Indicadores y reportes</h3>

                <div id="spinnerReports" class="row col-4">                    
                    <div  class="spinner-border text-warning col-4" role="status"></div>
                    <div class="text-warning col-8">Cargando...</div>
                </div>
            </div>

            <div id="btnsCoins" class="btnsActions_ col-4">
                <button class="btnActions" id="btnRefreshReport" onclick="fnRefreshReport()" data-title="Recalcular reporte"><i class="fa-solid fa-arrows-rotate"></i></button>   
                
            </div>

            <div class="row col-9">
                <div class="col-3">
                    <input type="radio" id="Rep1" name="option" value="Report1" onclick="fnSelectReport()">
		            <label for="Rep1">Reporte por día</label><br>
                </div>

                <div class="col-3">
                    <input type="radio" id="Rep2" name="option" value="Report2" onclick="fnSelectReport()">
		            <label for="Rep2">Reporte por meses</label><br>
                </div>

                <div class="col-3">
                    <input type="radio" id="Rep3" name="option" value="Report3" onclick="fnSelectReport()">
		            <label for="Rep3">Gestion por fechas</label><br>
                </div> 
                
                <div class="col-3">
                    <input type="radio" id="Rep4" name="option" value="Report4" onclick="fnSelectReport()">
		            <label for="Rep4">Progresión mensual</label><br>
                </div> 
            </div>

            <br />
            <hr />
        </div>

        <!--Reporte 1 GM por día-->
        <div id="Report1">

            <div class="col-md-12 row">
                <div class="col-md-4">
                    <label for="DpickerReportGoalsIni">Fecha inicio</label>
                    <input type="date" id="DpickerReportGoalsIniR1" />
                </div>

                <div class="col-md-4">
                    <label for="DpickerReportGoalsEnd">Fecha fin</label>
                    <input type="date" id="DpickerReportGoalsEndR1" />
                </div>
            </div>

            <br/>

            <div id="gridSalesByBranch"></div>            
        </div>

        <!--Reporte 2 GM por día-->
        <div id="Report2" style="display:none">

            <div class="col-md-12 row">
                <div class="col-md-4">
                    <label for="DpickerReportGoalsIniR2">Fecha inicio</label>
                    <input type="date" id="DpickerReportGoalsIniR2" />
                </div>

                <div class="col-md-4">
                    <label for="DpickerReportGoalsEndR3">Fecha fin</label>
                    <input type="date" id="DpickerReportGoalsEndR2" />
                </div>
            </div>

            <br/>

            <div id="gridSalesByMonth"></div>  
            <div class="options">
                <div class="caption">Options</div>
                <div class="option">
                  <div id="autoExpandR2" style="color:white;"></div>
                </div>
              </div>
        </div>

        <!--Reporte 3-->
        <div id="Report3" style="display:none">

            <div class="col-md-12 row">
                <div class="col-md-4">
                    <label for="DpickerReportGoalsIniR3">Fecha inicio</label>
                    <input type="date" id="DpickerReportGoalsIniR3" />
                </div>

                <div class="col-md-4">
                    <label for="DpickerReportGoalsEndR3">Fecha fin</label>
                    <input type="date" id="DpickerReportGoalsEndR3" />
                </div>
            </div>

            <br/>

              <div id="gridContainer"></div>
              <div class="options">
                <div class="caption">Options</div>
                <div class="option">
                  <div id="autoExpand" style="color:white;"></div>
                </div>
              </div>
        </div>

        <!--Reporte 4, reporte del mes poor día por columnas-->
        <div id="Report4" style="display:none">
            <div class="col-md-12 row">
                
                <div class="row col-6">
                    <div class="col-md-4">
                        <label for="montsSelect">Mes: </label>
                        <select id="montsSelect" class="selectControl">                                
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="yearSelect">Año: </label>
                       <select id="yearSelect" class="selectControl">
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                    <option value="2034">2034</option>
                                </select>
                    </div>
                </div>
                

                <div class="row col-6">

                    <div class="col-3">
                        <label>Incluye los vendedores?:</label>
                    </div>

                    <div class="col-1">
                        <input type="radio" id="Sel1" name="optionSeller" value="Seller1" onclick="fnSelectReport()">
		                <label for="Sel1">Si</label><br>
                    </div>

                    <div class="col-1">
                        <input type="radio" id="Sel2" name="optionSeller" value="Seller2" onclick="fnSelectReport()">
		                <label for="Sel2">No</label><br>
                    </div>
                    
                </div>

            </div>

            <br/>

            <div id="gridSalesByMonthColumns" class="StyleR4 table-responsive" style="overflow-y: auto;">
                <table class="table bg-white table-striped table-hover table-sortable"
                       id="TabReport4"
                       data-toggle="table"
                       data-flat="true"
                       data-search="true">

                    <thead class="bg-dark text-light">
                        <th>Sucursal</th>
                        <th>Vendedor</th>                    
                    </thead>
                    <tbody id="rowsTabReport4">
                    </tbody>
                </table>
            </div>  
        
        </div>

        <!--<div id="TabReportGoals" class="container">
            
            <table class="table bg-white table-striped table-hover table-sortable TableDes"
                   id="TabReportGoalsT"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true">

                <thead class="bg-dark text-light">
                    <th width="9%">Sucursal</th>
                    <th width="11%">Gross B</th>
                    <th width="11%">Gross M <br /> AUD</th>
                    <th width="11%">Gross M <br /> S/AUD</th>
                    <th width="6%">%</th>
                    <th width="6%">MKUP</th>
                    <th width="11%">Utilidad <br /> ARS</th>
                    <th width="11%">OBJ. UTI</th>
                    <th width="8%">Alcanzado</th>
                    <th width="10%">PROY $</th>
                    <th width="6%">PROY %</th>                    
                </thead>
                <tbody id="rowsReportGoals">
                </tbody>
            </table>

        </div>-->

        <br />

        <figure class="highcharts-figure">        
            <div id="SalesGraph"></div>
        </figure>

        <figure class="highcharts-figure">
            <div id="container2"></div>            
        </figure>

    </div>
    <!--Sección de graficos y reportes (Fin)-->

    <div>
        
        <div id="MasterChannels" class="divMaster" style="display:none;">
            <h3>Panel principal de canales</h3>
            <hr />
        </div>
                
    </div>
    
   

</div>

<script>
    $(document).ready(function(){

        var dataWeb = sessionStorage.getItem("TecnoData");
        var SucursalActual = sessionStorage.getItem("TecnoBranchName");
        $('#lblUsuario').html("");
        $('#lblSucursal').html("");
        $('#lblRol').html("");

        $('#lblUsuario').html(JSON.parse(dataWeb).userName);
        $('#lblSucursal').html(SucursalActual);
        $('#lblRol').html(JSON.parse(dataWeb).RoleName);
                
        //$('#TxtNumberSale').mask('000-000-000');

        document.getElementById("Rep1").checked = true;
        fnReportGoalsResume();

        //const Workbook = new ExcelJS.Workbook();
        //fnReportGoals();
    })
</script>



