input, button {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius:5px;
    border: none;
}

input.hover{
    background-color: aqua;
}


body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #34507c;
	background-image:url(../img/maldives.jpg);
}
	

.login { 
	position:absolute;
	top: 45%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:330px;
	background-color: rgba(255, 255, 255, 0.2);
    border-radius:10px;
}


.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }


.outlinenone {
	outline: none;
  }
  
  h4 h3 h2{
	  color: white;
  }

#principal_text{
	background-attachment: fixed;
	content: '';
    border-radius:10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	
	text-align:center;
	color: white;
}

#lblMessages {
	color: #E57373;
	font-weight: bold;
}

.centerLogo img{
	margin:auto;
	display:block;
}

.titulo{
	color: white;
	align-content: center;
	text-align:center;
	justify-content: center;
	justify-items: center;
	text-justify: auto;
	align-items: center;
}

a{
	color:red;
}

button {
	background-color: #EA6422;
	color: white;
	font-weight:600;
}

.selectControlBig {
	width: 305px;
	height: 28px;
	border-radius: 3px;
	border: none;
	margin-top: 18px;
	margin-bottom: 30px;
}
