<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Control de ventas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Tooltips.css" />
    
    <script src="https://kit.fontawesome.com/1dddd4a9de.js" crossorigin="anonymous"></script>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--moment-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"  asp-append-version="true"></script>
        
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <!--Este es el menú principal-->
                <div class="btn-float-principal" onclick="showMenu()">
                    <a href="#" id="btnMenuOptions" ><i class="fa-solid fa-bars" style="margin-top:17px;"></i></a>                    
                </div>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Control de ventas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div>                        
                        
                    </div>                    
                </div>
            </div>

            <div class="flex-container" id="divMenuInfo">
                <div class="flex-child row">
                    <strong>Usuario:</strong>
                    <label id="lblUsuario"></label>
                </div>
                <div class="flex-child row">
                    <strong>Sucursal:</strong>
                    <label id="lblSucursal"></label>
                </div>
                <div class="flex-child row">
                    <strong>Rol:</strong>
                    <label id="lblRol"></label>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        
        <div class="menu-float" id="first-menu" style="display:none;">
            <div class="menu-float-text row">

                <a class="menu-principal-text" onclick="fnExpandMenu(1)"><i class="fa-solid fa-table-list menu-principal-text"></i> &nbsp; Registros maestros</a><hr>
                <div id="menu-principal-1" class="row" style="display:none;">
                    <a class="menu-text" onclick="showDiv('MasterClients')"><i class="fa-solid fa-address-card"></i> &nbsp; Clientes</a>
                    <a class="menu-text" onclick="showDiv('MasterBranches')"><i class="fa-solid fa-code-branch"></i> &nbsp; Sucursales</a>
                    <a class="menu-text" onclick="showDiv('MasterCoins')"><i class="fas fa-dollar-sign"></i> &nbsp; Monedas</a>
                    <a class="menu-text" onclick="showDiv('MasterChannels')"><i class="fa-brands fa-stack-exchange"></i> &nbsp; Channels</a>
                    @*<a class="menu-text" onclick="showDiv('MasterSellers')"><i class="fa-solid fa-people-robbery"></i> &nbsp; Vendedores</a>*@
                    <a class="menu-text" onclick="showDiv('MasterProducts')"><i class="fa-solid fa-boxes-stacked"></i> &nbsp; Productos</a>
                    <a class="menu-text" onclick="showDiv('MasterDestinations')"><i class="fa-solid fa-plane-arrival"></i> &nbsp; Destinos</a>
                </div>
                             
                <a class="menu-principal-text" onclick="fnExpandMenu(2)"><i class="fa-solid fa-chalkboard-user menu-principal-text"></i> &nbsp; Procesos</a><hr>
                <div id="menu-principal-2" class="row" style="display:none;">
                    <a class="menu-text" onclick="showDiv('MasterSales')"><i class="fa-solid fa-address-card"></i> &nbsp; Registro de ventas</a>
                    <a class="menu-text" onclick="showDiv('MasterSales')"><i class="fa-regular fa-money-bill-1"></i> &nbsp; Registro de pagos</a>
                </div>

                <a class="menu-principal-text" onclick="fnExpandMenu(3)"><i class="fa-solid fa-chart-line menu-principal-text"></i> &nbsp; Informes</a><hr>
                <div id="menu-principal-3" class="row" style="display:none;">
                    <a class="menu-text" onclick="showDiv('MasterChats')"><i class="fa-solid fa-chart-simple"></i> &nbsp; Idicadores</a>
                </div>
                                
                <a class="menu-text" id="aLogOut" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; LogOut</a>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Control de ventas (Tecnovoz, todos los derechos reservados) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    <script>var exports = {"__esModule": false};</script>
    @*<script src="~/js/MenuPrincipal.js" asp-append-version="true"></script>*@
    <script src="./tscript/build/app.js" asp-append-version="true" charset="UTF-8"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/MasterRecords.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>



</html>
