<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Control de ventas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Tooltips.css" />
    <script src="https://kit.fontawesome.com/1dddd4a9de.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <!--Este es el menú principal-->
                <div class="btn-float-principal" onclick="showMenu()">
                    <a href="#" id="btnMenuOptions" ><i class="fa-solid fa-bars" style="margin-top:17px;"></i></a>                    
                </div>
                


                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Control de ventas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header
    <div class="container">
        
        <div class="menu-float" id="first-menu" style="display:none;">
            <div class="menu-float-text row">
                <a><i class="fa-solid fa-chart-line menu-principal-text"></i> &nbsp; Registros maestros</a><hr>
                <a class="menu-text" onclick="showDiv('MasterClients')"><i class="fa-solid fa-address-card"></i> &nbsp; Clientes</a>
                <a class="menu-text" onclick="showDiv('MasterBranches')"><i class="fa-solid fa-code-branch"></i> &nbsp; Sucursales</a>
                <a class="menu-text" onclick="showDiv('MasterCoins')"><i class="fas fa-dollar-sign"></i> &nbsp; Monedas</a>
                <a class="menu-text" onclick="showDiv('MasterChannels')"><i class="fa-brands fa-stack-exchange"></i> &nbsp; Channels</a>
                <a class="menu-text" onclick="showDiv('MasterSellers')"><i class="fa-solid fa-people-robbery"></i> &nbsp; Vendedores</a>
                <a class="menu-text" onclick="showDiv('MasterEnvelope')"><i class="fa-solid fa-envelope"></i> &nbsp; Sobres</a>
                <a onclick="ShowLogOut()" id="aLogOut" class="menu-text"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; LogOut</a>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Control de ventas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/MasterRecords.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>



</html>
