@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="./css/Login.css" />

<div class="text-center">
    <!-- LOGIN CAZA INICIO-->

    <div id="datosLogIn" class="login">
            
        <div class="rows centerLogo">
            <img src="./img/login2.png" style="width:100px;height:100px;">
        </div>            
        
        <div class="rows justify-content-center" >            
            <h2 class="titulo" >Login</h2>
        </div>            
        
        <div >    
            <div class="container">                
                <div>
                    <input  id="logInUser" value="" class="login-field col-md-12" type="text" name="txtUser" required="required" placeholder="Nombre de usuario"/>                                   
                </div> 
                
                <div>
                    <input  id="logInPass" value="" class="login-field col-md-12" type="password" name="txtPassword" required="required" placeholder="Password"/> 
                                      
                </div>

                <div>
                    <button id="botonAceptar" type="button" class="BtnSearch col-md-12" onclick="LogIn(logInUser.value,logInPass.value)">INGRESAR</button>                    
                    
                    @*<a class="col-12" asp-area="" asp-controller="Principal" asp-action="Principal">Ingresar</a>*@
                </div>
            </div>
            
        </div>

        <label id="lblMessages" style="display:none;">Password invalido !!!</label>
        
    </div>    
        
    <div id="datosLogInSucursal" class="login" style="display:none;">
        <div class="rows centerLogo">
            <img src="./img/login2.png" style="width:100px;height:100px;">
        </div>            
        
        <div class="rows justify-content-center" >            
            <h2 class="titulo" >Bienvenido!</h2>
            <h5 class="titulo" >Seleccione una sucursal</h5>
        </div> 

        <div >    
            <div class="container">                
                <div>
                    <select id="SelectUserBranch" class="selectControlBig" ></select>                                 
                </div> 
                
                <div>
                    <button id="botonAceptarSucursal" type="button" class="BtnSearch col-md-12" onclick="LogInSucursal(logInUser.value,logInPass.value)">ACEPTAR</button>
                </div>
            </div>
            
        </div>
    </div>

    <!-- LOGIN CAZA FIN-->
        
</div>


