<link rel="stylesheet" href="~/css/LoginFail.css" />

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Login Failed";
}

<div class="container loginFail">
    <h1>Login Invalido!</h1>
    <p>Por favor vuelve a introducir tu usuario y password</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house-chimney"></i> Inicio</a>
</div>
